<!doctype html>
<html lang='en'>
	<head>
		<title>How's the Line?</title>
		<link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='/css/styles.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="navbar navbar-default">
             <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><b>How's the Line?</b></a>
              </div>
			  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register" class="register-btn">Register</a></li>
					<li><a href="#" class="signin-btn">Sign In</a></li>
              </ul>
				{{^	user}}
				<form class="navbar-form navbar-right" style="display:none">
					  <div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username">
						<input type="password" class="form-control" name="password" placeholder="Password">
					  </div>
					  <button type="submit" class="btn btn-default">Sign In</button>
				</form>
				{{/user}}
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav navbar-left">
                        <li><a href="/main">Main</a></li>
						<li><a href="/about">About</a></li>
                  </ul>
                </div><!-- /.nav-collapse -->
             </div>
		</div>
		<div class="container">
			{{{body}}}
		</div>
		<div class="container">
			<div class="col-xs-12 footer-text">
				<hr>
				<div class='col-xs-6 text-left'>
					<a class='link-nav' href='/about'>About</a> &nbsp;
					<a class='link-nav' href='/contact'>Contact</a> &nbsp;
					<a class='link-nav' href='/tos'>Terms of Service</a> &nbsp;
				</div>
				<div class='col-xs-6 text-right'>
					<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fmixdatup&amp;width=150&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:20px;" allowTransparency="true"></iframe>
					<a href="https://twitter.com/intent/tweet?button_hashtag=#HowsTheLine" class="twitter-hashtag-button" data-lang="en">Tweet #HowsTheLine</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>
		</div>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/function.js"></script>
	</body>
</html>