<!doctype html>
<html lang='en'>
	<head>
		<title>How's the Line?</title>
		<link href='/css/bootstrap.css' rel='stylesheet' type='text/css'>
		<link href='/css/styles.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
		{{{body}}}
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/function.js"></script>
	</body>
</html>