<h1> About this Site </h1>
<div class='col-xs-12'>
	<ul class="nav nav-list">
		<li>
			<h4>
				This website is too help with the outrageous Tims lines at Wilfrid Laurier University. We know how ridiculous 
				it can be and no one should have to wait 15 minutes to get a coffee. Too often students get
				fed up waiting and leave the line. Too often the line is too long and students can't even think
				about lining up since their next class starts in 10 minutes. As WLU students, we know your pain
				and we are here to help with this website.
			</h4>
		</li>
		<li class="divider"></li>
		<li>
			<h5>
				For any fellow Computer Science students(or any other students interested in comp sci) you can fork us at
				<b><a class='no-underline' href='https://github.com/Tang8330/drinkup'>GitHub</a></b> and see how we made this site.
			</h5>
		</li>
</div>
<div class='col-xs-12'>
	<hr>
	<div class='col-xs-9 text-left'>
		<a class='link-nav' href='/about'>About</a> &nbsp;
		<a class='link-nav' href='/contact'>Contact</a> &nbsp;
		<a class='link-nav' href='/tos'>Terms of Service</a> &nbsp;
	</div>
</div>
<script src="http://one-shop.ca/js/jquery-1.10.2.min.js"></script>