<div class="text-center">
	<h3><b>Already a Member?</b></h3>
	<form class="col-md-offset-3 col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-8 col-xs-offset-2" action="/login" method="post">
		<div class="input-group">
			<input type="text" class="form-control" name="username" placeholder="tang8330" required>
			<span class="input-group-addon">@mylaurier.ca</span>
		</div>
		<input type="password" class="form-control md-buffer" name="password" placeholder="Password">
		<button type="submit" class="md-buffer btn btn-default">Sign In</button>
	</form>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>