<div class="col-xs-8">
	<h1> Order Online </h1>
</div>
<div class="col-xs-4">
	<h3>Current Total: $</h3>
</div>
<div class='col-xs-6'>
	<ul>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Hot Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu" data-toggle="modal" data-target=".hot-drink-modal">
				<li><a href="#">Coffee</a></li>
				<li><a href="#">French Vanilla</a></li>
				<li><a href="#">Cafe Mocha</a></li>
				<li><a href="#">Specialty Tea</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Cold Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu" data-toggle="modal" data-target=".cold-drink-modal">
				<li><a href="#">Ice Cappuccino</a></li>
				<li><a href="#">Ice Capp Supreme</a></li>
				<li><a href="#">Mocha Ice Cappuccino</a></li>
				<li><a href="#">Mocha Iced Coffee</a></li>
				<li><a href="#">Iced Coffee</a></li>
				<li><a href="#">Iced Latte / Iced Choc. Latte</a></li>
				<li><a href="#">Real Brewed Iced Tea</a></li>
				<li><a href="#">Fruit Smoothie -  Mixed Berry /Strawberry Banana</a></li>
				<li><a href="#">Frozen Lemonade</a></li>
				<li><a href="#">Soft Drinks</a></li>
				<li><a href="#">Milk - White / Chocolate</a></li>
				<li><a href="#">Juice - Orange / Apple</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Baked Goods<b class="caret"></b></span>
			<ul class="dropdown-menu">
				<li><a href="#">Cookies</a></li>
				<li><a href="#">Bagel</a></li>
				<li><a href="#">Cinnamon Bun</a></li>
				<li><a href="#">Danish</a></li>
				<li><a href="#">Croissant</a></li>
				<li><a href="#">Donut</a></li>
				<li><a href="#">Muffins</a></li>
				<li><a href="#">Timbits</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="modal fade hot-drink-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="Hot Drink Options" id="hotDrinkTitle">Hot Drink Options</h4>
			</div>
			<div class="modal-body">
				<div>
					Size: &nbsp;
					<label>
						<input type="radio" name="hot-drink-option" value="XS">XS &nbsp;
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="hot-drink-option">S &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="hot-drink-option">M &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="hot-drink-option">L &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="hot-drink-option">XL &nbsp;
						</div>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade cold-drink-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="Cold Drink Options" id="coldDrinkTitle">Cold Drink Options</h4>
			</div>
			<div class="modal-body">
				<div>
					Size: &nbsp;
					<label>
						<div class="radio-button">
							<input type="radio" name="cold-drink-option">S &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="cold-drink-option">M &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="cold-drink-option">L &nbsp;
						</div>
					</label>
					<label>
						<div class="radio-button">
							<input type="radio" name="cold-drink-option">XL &nbsp;
						</div>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<!-- Show what you've ordered so far -->
</div>
<script src="http://one-shop.ca/js/jquery-1.10.2.min.js"></script>
