<div class="col-xs-8">
	<h1> Order Online </h1>
</div>
<div class="col-xs-4">
	<h3>Current Total: $</h3>
</div>
<div class='col-xs-6'>
	<ul>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Hot Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu">
				<li><a href="#">Coffee</a></li>
				<li><a href="#">French Vanilla</a></li>
				<li><a href="#">Cafe Mocha</a></li>
				<li><a href="#">Specialty Tea</a></li>
				<li><a href="#">Cafe Mocha</a></li>
				<li><a href="#">Cafe Mocha</a></li>
				<li><a href="#">Cafe Mocha</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Cold Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu">
				<li><a href="#">Ice Cappuccino</a></li>
				<li><a href="#">Ice Capp Supreme</a></li>
				<li><a href="#">Mocha Ice Cappuccino</a></li>
				<li><a href="#">Mocha Iced Coffee</a></li>
				<li><a href="#">Iced Coffee</a></li>
				<li><a href="#">Iced Latte / Iced Choc. Latte</a></li>
				<li><a href="#">Real Brewed Iced Tea</a></li>
				<li><a href="#">Fruit Smoothie -  Mixed Berry /Strawberry Banana</a></li>
				<li><a href="#">Frozen Lemonade</a></li>
				<li><a href="#">Soft Drinks</a></li>
				<li><a href="#">Milk - White / Chocolate</a></li>
				<li><a href="#">Juice - Orange / Apple</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-xs-6">
	<h3></h3>
</div>
<script src="http://one-shop.ca/js/jquery-1.10.2.min.js"></script>
