<link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
<style>
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}
</style>
<div class="col-xs-8">
	<h1> Order Online </h1>
</div>
<div class="col-xs-4">
	<h3>Current Total: $<span class="subtotal">0.00</span></h3>
</div>
<div class='col-xs-6'>
	<ul>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Hot Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu drinks" data-toggle="modal" data-target=".hot-drink-modal">
				<li><a href="#">Coffee</a></li>
				<li><a href="#">French Vanilla</a></li>
				<li><a href="#">Cafe Mocha</a></li>
				<li><a href="#">Specialty Tea</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Cold Drinks<b class="caret"></b></span>
			<ul class="dropdown-menu drinks" data-toggle="modal" data-target=".hot-drink-modal">
				<li><a href="#">Ice Cappuccino</a></li>
				<li><a href="#">Ice Capp Supreme</a></li>
				<li><a href="#">Mocha Ice Cappuccino</a></li>
				<li><a href="#">Mocha Iced Coffee</a></li>
				<li><a href="#">Iced Coffee</a></li>
				<li><a href="#">Iced Latte / Iced Choc. Latte</a></li>
				<li><a href="#">Real Brewed Iced Tea</a></li>
				<li><a href="#">Fruit Smoothie -  Mixed Berry /Strawberry Banana</a></li>
				<li><a href="#">Frozen Lemonade</a></li>
				<li><a href="#">Soft Drinks</a></li>
				<li class="milk"><a href="#">Milk - White / Chocolate</a></li>
				<li class="juice"><a href="#">Juice - Orange / Apple</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<span class="dropdown-toggle" data-toggle="dropdown">Baked Goods<b class="caret"></b></span>
			<ul class="dropdown-menu">
				<li><a href="#">Cookies</a></li>
				<li><a href="#">Bagel</a></li>
				<li><a href="#">Cinnamon Bun</a></li>
				<li><a href="#">Danish</a></li>
				<li><a href="#">Croissant</a></li>
				<li><a href="#">Donut</a></li>
				<li><a href="#">Muffins</a></li>
				<li><a href="#">Timbits</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="modal fade hot-drink-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="drink-header"></h4>
			</div>
			<div class="modal-body">
				<div class="col-xs-6">
					<select class="selectpicker form-control default-select">
						<option>XS</option>
						<option>S</option>
						<option>M</option>
						<option>L</option>
						<option>XL</option>
					</select>
					<select class="selectpicker form-control milk-select" style="display:none">
						<option>Chocolate</option>
						<option>White</option>
					</select>
					<select class="selectpicker form-control juice-select" style="display:none">
						<option>Orange</option>
						<option>Apple</option>
					</select>
				</div>
				<div class="col-xs-6">
					<input type="number" class="text-center form-control drink-item" value="1"></input>
				</div>
				<div class="top-buffer col-xs-12">
					<input type="text" class="form-control default-input" placeholder="Special Note: Double-Double">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary add-drinks" data-dismiss="modal">Add</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-6 items-ordered">
	<!-- Show what you've ordered so far -->
</div>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/calculate_price.js"></script>
<script src="js/bootstrap-select.min.js"></script>
<script>
$(document.body).on('click', 'ul.drinks li', function() {
	$(".juice-select").hide();
	$(".milk-select").hide();
	$(".default-select").hide();
	$(".default-input").hide();
	
	if ($(this).hasClass("juice")) {
		$(".juice-select").show();
	}
	else if ($(this).hasClass("milk")) {
		$(".milk-select").show();
	}
	else {
		$(".default-select").show();
		$(".default-input").show();
	}
	$('.drink-header').text($(this).text());

});
</script>
