<style>
.order-details{
border:2px solid #a1a1a1;
padding:10px 40px; 
background:#dddddd;
border-radius:25px;
}
</style>
<div class="col-xs-12 text-center">
	<h1>Current Orders in the Queue</h1>
	<i>Click on each order to get more details and to close the ticket</i>
	<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 orders">
	
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div id="modalHeader"></div>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<div class="row" id="modalBody"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
				<button type="button" class="btn btn-primary completed" data-dismiss="modal">Completed</button>
			</div>
		</div>
	</div>
</div>


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.cookie.min.js"></script>
<script src="/js/calculate_price.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script>

$(document).ready( function() {
	setInterval(function(){ 
		checkOrder();
	}, 1500);
});
</script>