.top-buffer {
	margin-top : 20px;
}
.md-buffer{
	margin-top : 10px;
}
.sm-buffer {
	margin-top : 5px;
}
a.link-nav:link, a.link-nav:visited, a.link-nav:hover, a.link-nav:active {
text-decoration: none;
color: #333333;
}


